/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 62, 231, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  width: 100vw;
  height: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 34%,
    rgba(44, 32, 157, 1) 67%,
    rgba(31, 245, 245, 1) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  border-bottom: 5px solid white;
  a {
    text-decoration: none;
    color: black;
    background-color: darken($color: #00d4ff, $amount: 1);
  }
  .logo-box {
    background-image: url("./assets/logo.jpg");
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px;
    align-self: flex-start;
  }

  .link-box {
    height: 80px;
    margin: 10px;
    align-self: flex-start;
    border: 1px dotted grey;
  }
}
